ctranslate2>=4.0,<5
huggingface_hub>=0.25.2
tokenizers==0.19.1
onnxruntime>=1.14,<2 
bitsandbytes @ git+ssh://git@github.com/slope-social/bitsandbytes-CUDA12.git@cuda121-support#egg=bitsandbytes
av>=11
tqdm
numpy>=1.23.5,<2.1
torch>=2.0.0
torchaudio>=2.0.0
