ctranslate2>=4.0,<5
huggingface_hub>=0.25.2
tokenizers==0.19.1
onnxruntime>=1.14,<2 
bitsandbytes @ git+ssh://git@github.com/slope-social/bitsandbytes-CUDA12.git@cuda121-support#egg=bitsandbytes
av>=11
tqdm
numpy>=1.23.5,<2.1
torch>=2.0.0
torchaudio>=2.0.0
mamba-ssm @ git+https://github.com/state-spaces/mamba.git@v2.2.4#egg=mamba-ssm
nemo_toolkit @ git+https://github.com/NVIDIA/NeMo.git@v1.22.0#egg=nemo_toolkit[asr]
